.about-cont {
  height: auto;
  background-color: #1f1e1e;
  /* background-color: #2b2c2e; */
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 10px;
  width: 100%;
}

.code-snippet {
  width: 100%;
}

h2 {
  font-size: 2.4rem;
  padding: 1rem;
}

img {
  height: auto;
  width: 100px;
}

.info-cont {
  width: 85%;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.me-cont {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.me-box {
  width: 30%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
}

.me-text {
  text-align: center;
  margin-top: 15px;
  font-size: 1.8rem;
  line-height: 1.4;
}

.about-text {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
}

.bio-wrap {
  width: 40%;
  height: 60vh;
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
}

.bio {
  width: 75%;
}

.me-img {
  background: no-repeat center/100% url("../images/menruby.png");
  width: 30rem;
  height: 30rem;
  box-shadow: rgba(255, 255, 255, 0.07) 0px 1px 2px,
    rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(255, 255, 255, 0.07) 0px 4px 8px,
    rgba(255, 255, 255, 0.07) 0px 8px 16px,
    rgba(255, 255, 255, 0.07) 0px 16px 32px,
    rgba(255, 255, 255, 0.07) 0px 32px 64px;
  border-radius: 50%;
}

.skill {
  /* font-size: 1.6rem; */
  width: auto;
  display: inline-block;
  cursor: grab;
  background-color: #257cb6;
  border-radius: 25px;
}

.skills {
  width: 50%;
  position: relative;
}

/* 
.pac-man {
  width: 0px;
  height: 0px;
  border-top: 60px solid #32557f;
  border-right: 60px solid transparent;
  border-bottom: 60px solid #32557f;
  border-left: 60px solid #32557f;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
} */

@media screen and (min-width: 1400px) {
  .skill {
    transform: scale(0.5);
  }
}
