.header-bar {
  background: white;
  height: 0.4rem;
  margin: 1.5rem 0 8rem 0;
  width: 75px;
}

section {
  padding: 130px 0 130px 0;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}

.title-cont {
  font-size: 5rem;
  margin-top: 1.8rem;
}
