.header-bar {
  background: white;
  height: 0.4rem;
  margin: 1.5rem 0 8rem 0;
  width: 75px;
}

section {
  padding: 100px 0 130px 0;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 4rem;
  margin-top: 1.8rem;
}
@media screen and (max-width: 570px) {
  .header-bar {
    margin: 1.5rem 0 4rem 0;
  }
}
