.btn-cont {
  width: 100%;
  margin: 0 auto;
  background: none;
  display: flex;
  justify-content: space-between;
  position: absolute;
  align-self: flex-end;
  z-index: 99;
}

.btn-cont-mobile {
  display: none;
}

button.scroll {
  width: 5em;
  height: 4em;
  /* border-radius: 5px; */
  background-color: #151515;
  opacity: 0.8;
  color: #e28b67;
  border: 1px solid;
  padding: 1em 2em;
  font-size: 2rem;
  transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
}

button.scroll:hover {
  cursor: pointer;
}

button.scroll img {
  transform: scale(1.5);
  transition: transform 200ms ease-in;
}

button.scroll:active {
  color: #f1ff5c;
}

.carousel-container {
  width: 100%;
  height: 65%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  /* border: 2px solid rgba(128, 128, 128, 0.5);
  border-radius: 5px; */
  box-shadow: 0 0 10px gray;
  display: flex;
  flex-flow: row nowrap;
  position: relative;
}

.carousel-image-container {
  width: 100%;
  height: 100%;
  display: relative;
}

.carousel-image {
  width: 300px;
  height: 300px;
}

.slide {
  transform: translate(100%, 0px);
  -webkit-transform: translate(100%, 0px);
  -ms-transform: translate(100%, 0px);
  transition: all 600ms ease-in-out;
  width: 100%;
  height: 100%;
  position: absolute;
  /* animation: rotateY 300ms ease-in-out forwards; */
}

.slide.active {
  transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: all 600ms ease-in-out;
  z-index: 1;
}

.top-image-c {
  width: 100%;
  height: 100%;
  position: absolute;
}
