form {
  width: 25%;
  margin-top: 4rem;
  display: flex;
  flex-flow: column nowrap;
}

.contact {
  margin: 1.5rem 0 4rem 0;
}

::placeholder {
  color: white;
}

input,
textarea {
  background: #1e242c;
  border: 0;
  box-sizing: border-box;
  color: #fff;
  display: block;
  font-size: 12pt;
  margin-bottom: 3px;
  outline: none;
  padding: 10px 15px;
  width: 100%;
}

input:nth-of-type(3) {
  width: 25%;
  align-self: flex-end;
  font-weight: bold;
  margin-top: 0.5rem;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: transparent;
  margin: 30px auto 0 auto;
  border: solid 2px #424242;
  border-top: solid 2px #1c89ff;
  border-radius: 50%;
  opacity: 0;
}

.check {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate3d(-4px, 50px, 0);
  opacity: 0;
}

.check.span:nth-child(1) {
  display: block;
  width: 10px;
  height: 2px;
  background-color: #fff;
  transform: rotate(45deg);
}
.check.span:nth-child(2) {
  display: block;
  width: 20px;
  height: 2px;
  background-color: #fff;
  transform: rotate(-45deg) translate3d(14px, -4px, 0);
  transform-origin: 100%;
}

.loader.active {
  animation: loading 2s ease-in-out;
  animation-fill-mode: forwards;
}

.check.active {
  opacity: 1;
  transform: translate3d(-4px, 4px, 0);
  transition: all 0.5s cubic-bezier(0.49, 1.74, 0.38, 1.74);
  transition-delay: 0.2s;
}

@keyframes loading {
  30% {
    opacity: 1;
  }

  85% {
    opacity: 1;
    transform: rotate(1080deg);
    border-color: #262626;
  }
  100% {
    opacity: 1;
    transform: rotate(1080deg);
    border-color: #1c89ff;
  }
}

textarea {
  height: 12rem;
}
