.contact-div {
  margin: 1.5rem 0 4rem 0;
}

.error-message {
  color: rgb(185, 64, 64);
  font-weight: bold;
  margin-left: 0.5rem;
  display: inline-block;
  /* transition: all 500ms linear; */
}

form.contact-form {
  width: 25%;
  margin-top: 4rem;
  display: flex;
  flex-flow: column nowrap;
}

.submit-wrap {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.submit-wrap input:disabled {
  margin-top: 0.5rem;
  cursor: not-allowed;
  font-weight: normal;
  opacity: 0.8;
}

.submit-wrap input:disabled:hover {
  cursor: not-allowed;
  background-color: #1e242c;
}

.submit-wrap input {
  width: 25%;
  font-weight: bold;
  margin-top: 0.5rem;
  transition: background-color 300ms linear;
}

.submit-wrap input:hover {
  background-color: #257cb6;
  cursor: pointer;
}

::placeholder {
  color: white;
}

input,
textarea {
  background: #1e242c;
  border: 0;
  box-sizing: border-box;
  color: #fff;
  display: block;
  font-size: 12pt;
  margin-bottom: 3px;
  outline: none;
  padding: 10px 15px;
  width: 100%;
}

input:nth-of-type(3) {
  width: 25%;
  align-self: flex-end;
  font-weight: bold;
  margin-top: 0.5rem;
}

.loader {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: transparent;
  margin: 1% 6.5% 0 0;
  border: solid 2px #424242;
  border-top: solid 2px #1c89ff;
  border-radius: 50%;
  opacity: 0;
  align-self: flex-end;
}

.check {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate3d(-4px, 50px, 0);
  opacity: 0;
}

.check-one {
  display: block;
  width: 10px;
  height: 2px;
  background-color: #fff;
  transform: rotate(45deg);
}
.check-two {
  display: block;
  width: 20px;
  height: 2px;
  background-color: #fff;
  transform: rotate(-45deg) translate3d(14px, -4px, 0);
  transform-origin: 100%;
}

.loader.active {
  animation: loading 2s ease-in-out;
  animation-fill-mode: forwards;
}

.check.active {
  opacity: 1;
  transform: translate3d(-4px, 4px, 0);
  transition: all 0.5s cubic-bezier(0.49, 1.74, 0.38, 1.74);
  transition-delay: 0.2s;
}

@keyframes loading {
  30% {
    opacity: 1;
  }

  85% {
    opacity: 1;
    transform: rotate(1080deg);
    border-color: #262626;
  }
  100% {
    opacity: 1;
    transform: rotate(1080deg);
    border-color: #1c89ff;
  }
}

textarea {
  height: 12rem;
}

@media screen and (max-width: 1200px) {
  form.contact-form {
    width: 40%;
  }
}

@media screen and (max-width: 1000px) {
  form.contact-form {
    width: 50%;
  }
}

@media screen and (max-width: 700px) {
  form.contact-form {
    width: 70%;
  }
}

@media screen and (max-width: 500px) {
  form.contact-form {
    width: 80%;
  }
}
