.arrow-svg {
  width: 12%;
  margin-left: 15px;
  transition: all 0.5s;
}

.landing-cont {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  background-color: #1f1e1e;
}

.info-div {
  font-size: 5rem;
  display: flex;
  flex-flow: column;
  /* justify-content: space-evenly; */
  align-items: center;
}

.name {
  color: #5d25b6;
}

.view-work-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #fbfffb;
  box-sizing: inherit;
  cursor: pointer;
  font-size: 2rem;
  padding: 10px 20px;
  transition: all 0.5s;
  margin-top: 2rem;
}

.view-work-btn:hover {
  background-color: lightgray;
  color: #5d25b6;
  border: 2px solid #5d25b6;
}

.view-work-btn:hover .arrow-svg {
  transition: all 0.5s;
  transform: rotate(90deg);
  stroke: #5d25b6;
}
