.arrow-svg {
  width: 12%;
  margin-left: 15px;
  transition: all 0.5s;
}

.landing-cont {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  background-color: #1c1d20;
}

h1 {
  text-align: center;
}

.info-div {
  font-size: 5rem;
  line-height: 1.25;
  display: flex;
  flex-flow: column;
  /* justify-content: space-evenly; */
  align-items: center;
}

.name {
  color: #e28b67;
  font-weight: bold;
}

.view-work-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #fbfffb;
  box-sizing: inherit;
  cursor: pointer;
  font-size: 2rem;
  padding: 10px 20px;
  transition: all 300ms;
  margin-top: 2rem;
  font-weight: bold;
}

.view-work-btn:hover {
  color: #e28b67;
  border: 2px solid #e28b67;
  font-weight: bold;
}

.view-work-btn:hover .arrow-svg {
  transition: all 0.5s;
  transform: rotate(90deg);
  stroke: #e28b67;
}

/* Cool infinite background scrolling animation.
 * Twitter: @kootoopas
 */

/* Exo thin font from Google. */
@import url(https://fonts.googleapis.com/css?family=Exo:100);

/* Animations */
@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 86px 86px;
  }
}
@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: 86px 86px;
  }
}
@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: 86px 86px;
  }
}
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 86px 86px;
  }
}

@-webkit-keyframes bg-scrolling {
  0% {
    background-position: 86px 86px;
  }
}
@-moz-keyframes bg-scrolling {
  0% {
    background-position: 86px 86px;
  }
}
@-o-keyframes bg-scrolling {
  0% {
    background-position: 86px 86px;
  }
}
@keyframes bg-scrolling {
  0% {
    background-position: 86px 86px;
  }
}

/* Main styles */
.landing-cont {
  font-family: exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
  /* Background data (Original source: https://subtlepatterns.com/grid-me/) */
  background: url("/src/images/repeated-square-dark.png") repeat 0 0;
  background-color: black;
  -webkit-animation: bg-scrolling-reverse linear 1.82s infinite; /* Safari 4+ */
  -moz-animation: bg-scrolling-reverse linear 1.82s infinite; /* Fx 5+ */
  -o-animation: bg-scrolling-reverse linear 1.82s infinite; /* Opera 12+ */
  animation: bg-scrolling-reverse linear 1.82s infinite; /* IE 10+ */
}
