div.info-box a {
  display: inline-block;
  text-decoration: none;
  width: 0;
  height: 0;
}

.modal-wrap {
  height: 100vh;
  position: fixed;
  width: 100vw;
  z-index: 100;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-wrap .close {
  bottom: 0px;
  color: #bbb;
  cursor: pointer;
  font-size: 6rem;
  font-weight: 800;
  position: absolute;
  right: 20px;
}

.modal-wrap .button {
  background: #e28b67;
  border: 0;
  bottom: 20px;
  color: #fff;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  left: 25px;
  padding: 12px 25px 12px 30px;
  position: absolute;
  transition: all 0.5s;
  display: flex;
  flex-flow: row;
  align-items: center;
  /* transform: scale(1.2); */
  /* visibility: hidden; */
}

.modal-wrap .button:hover {
  background-color: #151515;
}

.modal-wrap .button img {
  width: 15px;
  height: 15px;
  position: relative;
  right: 10%;
}

/* .modal-wrap.visible {
    pointer-events: initial;
} 

.modal-wrap.visible .mask {
  opacity: 1;
} */

.modal-wrap .mask {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  opacity: 1;
  transition: opacity 0.3s;
  width: 100%;
}

.modal-wrap .modal {
  align-items: flex-start;
  background: #151515;
  box-shadow: 0 0 10px rgb(0 0 0 / 40%);
  box-sizing: border-box;
  color: #333;
  height: 100vh;
  top: -4.5vh;
  position: relative;
  text-align: left;
  transform: scale(0.8);
  transition: all 300ms;
  width: 65%;
  overflow: hidden;
  /* max-width: 1215px; */
}

.modal-wrap.visible .modal {
  opacity: 1;
  transform: scale(1);
}

.modal-wrap .info-box {
  height: 35%;
  /* border-top: 3px solid #1b242f; */
  box-sizing: border-box;
  color: #444;
  padding: 45px 60px 90px 25px;
  /* padding: 15px 10px 85px 10px; */
}

.modal-wrap .site-title {
  font-size: 3rem;
  line-height: 35pt;
  /* font-size: 16pt;
    line-height: 20pt; */
}

.modal-wrap .details {
  font-size: 1.8rem;
  line-height: 18pt;
  margin-top: 15px;
  width: 90%;

  /* box-sizing: border-box; */
  /* font-size: 9pt;
    line-height: 14pt;
    margin-top: 13px; */
}
.info-box .tag {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  color: #9b9999;
  display: block;
  /* font-family: "Raleway-bold"; */
  font-size: 1.7rem;
  padding-bottom: 1.5rem;
  font-weight: bold;
}
