nav {
  background-color: #151515;
  width: 100vw;
  padding: 1.8rem 0;
  border-bottom: 2px solid #257cb6;
  position: sticky;
  top: 0;
  transform-origin: top center;
  z-index: 99;
  animation: rotateMenu 500ms ease-in-out forwards;
}

ul {
  margin-left: 5%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  width: 50%;
}

li {
  cursor: pointer;
  font-weight: bold;
}

li:hover {
  /* font-weight: normal; */
  color: #257cb6;
  color: #ffa260;
}

/* 
.sticky {
  animation: rotateMenu 500ms ease-in-out forwards;
  transform-origin: top center;
  position: sticky;
  width: 100%;
  top: 0;
} */

@keyframes rotateMenu {
  0% {
    transform: rotateX(-90deg);
  }
  70% {
    transform: rotateX(20deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
