@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Sriracha&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*  */
/*  */
/*  */
/*  */
/*  */
* {
  max-width: 100%;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Sriracha", cursive;
  background: #121212;
  color: #fbfffb;
  max-width: 100%;
}
.header {
  font-size: 4rem;
  font-family: "Caveat", cursive;
  color: #fbfffb;
  width: 20vw;
  text-shadow: 1px 0px 1px #fbfffb;
  transition: all 150ms ease;
  text-decoration: none;
}
.header:hover {
  cursor: pointer;
  color: #fbfffb;
  font-size: 4.1rem;
}
h2 {
  font-size: 3.2rem;
}
p {
  line-height: 1.75;
  font-size: 2.4rem;
}
.container {
  display: flex;
  flex-direction: column;
}
header {
  width: 100vw;
  height: 15vh;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  background: rgb(44, 44, 44);
  box-shadow: 0px 0px 5px rgb(55, 55, 55);
}
header nav {
  width: 90%;
  display: flex;
  justify-content: center;
  position: relative;
  max-width: 100%;
}
header nav a {
  color: #fbfffb;
  height: 15px;
  text-decoration: none;
  border-radius: 2px;
  border-right: none;
  padding: 10px 20px;
  background: rgb(35, 35, 35);
  text-shadow: 1px 1px 2px black;
  box-shadow: 0px 0px 3px #fbfffb;
  transition: all 150ms ease;
}
header nav a:hover {
  box-shadow: 0px 0px 10px #bb86fc;
  z-index: 1;
  color: #fbfffb;
  animation-fill-mode: backwards;
}
section .about-section {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 75px;
}
.about-text {
  box-sizing: border-box;
  border-radius: 15px;
  font-size: 2rem;
  padding: 20px;
  width: 40vw;
  height: 40vh;
  /* margin-right: 40px; */
  background: rgb(44, 44, 44);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 0px 0px 15px rgb(55, 55, 55);
}
.about-text a {
  color: #bb86fc;
  width: 80px;
  height: 18px;
  text-decoration: none;
  box-shadow: 0px 0px 3px #fbfffb;
  border-radius: 2px;
  padding: 10px 20px;
  background: rgb(55, 55, 55);
  text-shadow: 1px 1px 2px black;
  transition: all 150ms ease;
}
.about-text a:hover {
  box-shadow: 0px 0px 10px #fbfffb;
  transform: translateY(-0.1em);
}
.about-img {
  width: 450px;
  height: 450px;
  border-radius: 100%;
  /* margin-left: 40px; */
  box-shadow: 1px 1px 10px rgb(44, 44, 44);
  transition: box-shadow 250ms ease;
  background: url(images/meCropped.png);
  background-size: contain;
}
.about-img:hover {
  width: 450px;
  height: 450px;
  box-shadow: 0px 0px 10px #fbfffb;
}
.projects-cont {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.projects-item {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 300px;
  height: 300px;
  margin-bottom: 40px;
  background: url(https://source.unsplash.com/random/300x300/);
  background-size: cover;
  background-repeat: no-repeat;
  color: #bb86fc;
  margin-top: 20px;
  border-radius: 30px;
  box-shadow: 0px 0px 10px rgb(55, 55, 55);
  transition: box-shadow 300ms ease, background 300ms ease, color 300ms ease,
    border-radius 300ms ease;
}
.projects-item:hover {
  background: url(https://source.unsplash.com/random/300x300/);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fbfffb;
  border-radius: 35px;
  box-shadow: 0px 0px 5px #fbfffb;
}
.projects-text {
  position: relative;
  top: 35px;
  font-size: 2rem;
}
/* .projects-text:hover{
	color:#FBFFFB;
	cursor: pointer;
	animation-name: test;
	animation-duration: 1s;
    animation-fill-mode: forwards;
} */
footer {
  margin-top: 100px;
  width: 100vw;
  height: 20vh;
  background: rgb(44, 44, 44);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 5px rgb(55, 55, 55);
}
footer a {
  color: #fbfffb;
  height: 2.5rem;
  text-decoration: none;
  border-radius: 3px;
  border-right: none;
  padding: 10px 20px;
  background: rgb(35, 35, 35);
  text-shadow: 1px 1px 2px black;
  box-shadow: 0px 0px 3px #fbfffb;
  font-size: 2.5rem;
  transition: all 150ms ease;
}
footer a:hover {
  box-shadow: 0px 0px 10px #bb86fc;
  transform: rotateZ(3deg);
}

/* @keyframes test{
	from{transform: translateX(0px);}
	to{transform: translateY(-5px)}
} */

@media screen and (max-width: 380px) {
  /* body .about-section h2{
		font-size: 3rem;
		margin-bottom: 15px;
	}
	body .about-section p{
		font-size: 1.8rem;
		margin-top: 10px;
	} */
  section .about-text p {
    font-size: 1.4rem;
  }
  .about-text a {
    font-size: 2.4rem;
    height: 15px;
    text-align: center;
    width: 90px;
    height: 24px;
  }
  body nav a,
  h1 {
    font-size: 1.4rem;
  }
  .projects-item:nth-last-of-type(3) {
    display: none;
  }
  .projects-item:nth-last-of-type(4) {
    display: none;
  }
  .projects-item:nth-last-of-type(5) {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  section .about-section {
    box-sizing: border-box;
    padding: 10px;
    height: auto;
  }
  .projects-cont {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }
  .projects-item {
    width: 175px;
    height: 175px;
  }
  .projects-item:nth-last-of-type(1) {
    display: none;
  }
  .projects-item:nth-last-of-type(2) {
    display: none;
  }
  footer {
    margin: 0;
  }
}

@media screen and (max-width: 860px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .header {
    width: 50vw;
    text-align: center;
  }
  header nav {
    width: 100vw;
    position: relative;
    right: 0;
    display: flex;
    justify-content: center;
    left: 0px;
    max-width: 100%;
  }
  header nav a {
    color: #fbfffb;
    height: 15px;
    text-decoration: none;
    border-radius: 2px;
    border-right: none;
    padding: 10px 20px;
    background: rgb(35, 35, 35);
    text-shadow: 1px 1px 2px black;
    box-shadow: 0px 0px 3px #fbfffb;
    transition: all 150ms ease;
  }
  .about-img {
    width: 300px;
    height: 300px;
    margin-bottom: 50px;
  }
  .about-img:hover {
    width: 300px;
    height: 300px;
    margin-bottom: 50px;
  }

  section .about-section {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
    padding: 20px;
  }
  section .about-section h2 {
    font-size: 3.2rem;
    margin-bottom: 15px;
  }
  section .about-section a {
    font-size: 2.5rem;
    padding: 10px 30px;
  }
  section .about-section p {
    font-size: 2.2rem;
    margin-top: 10px;
  }
  .about-text {
    width: 100vw;
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    text-align: center;
  }
  .about-text a {
    font-size: 2.4rem;
    height: 15px;
    text-align: center;
    width: 90px;
    height: 24px;
  }

  .projects-item {
    width: 200px;
    height: 200px;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 1510px) {
  section .about-section {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 75px;
  }
}
@media screen and (min-width: 1900px) {
  header a.header {
    font-size: 5rem;
  }
  h2 {
    font-size: 4rem;
  }
  p {
    line-height: 1.75;
    font-size: 2.5rem;
  }
  header nav a {
    font-size: 2.5rem;
    color: #fbfffb;
    height: 2.5rem;
    text-decoration: none;
    border-radius: 3px;
    border-right: none;
    padding: 10px 20px;
    background: rgb(35, 35, 35);
    text-shadow: 1px 1px 2px black;
    box-shadow: 0px 0px 3px #fbfffb;
    font-size: 2.5rem;
    transition: all 150ms ease;
  }
  .about-text a {
    height: 2.25rem;
    border-radius: 3px;
    padding: 10px 30px;
    text-shadow: 1px 1px 2px black;
    box-shadow: 0px 0px 3px #fbfffb;
    font-size: 2.25rem;
  }
  .projects-item {
    width: 395px;
    height: 395px;
    margin-bottom: 50px;
  }
  footer a {
    height: 3.5rem;
    padding: 15px 33px;
    font-size: 3rem;
  }
}
@media (max-height: 750px) {
  p {
    font-size: 1.6rem;
  }
}
